<html>
	<h1>
		<span style="color: #660033">
			<strong> About Me </strong> 
		</span>
	</h1>	
	<p>I received the B.Sc. degree in Electronics Engineering from Istanbul Technical University (ITU), Istanbul, Turkey in 2011. I received M.Sc. and Ph.D. degrees in Electronics Engineering from Sabanci University, Istanbul, Turkey in 2013 and 2018, respectively. I was a research assistant at System on Chip (SoC) Design Lab, Sabanci University from 2011 to 2018. Also, I worked as a research/teaching assistant at the Istanbul Technical University between 2015 and 2019. Between August 2019 and March 2022, I was a postdoctoral researcher at the Delft University of Technology. Currently, I am a Postdoctoral Researcher with the Electronic Systems group at the Eindhoven University of Technology.
	<br> <br>
	My research interests include low power digital hardware design, approximate computing, FPGAs, high-level synthesis, computer architecture, video coding, deep learning, sensor fusion, and neuromorphic computing.
	<br>
	<br>
	<h1>
		<span style="color: #660033">
			<strong> Experience </strong> 
		</span>
	</h1>	
	<span style="color: #000000">
    <strong> Postdoctoral Researcher, TU Eindhoven, The Netherlands </strong> <br>
    	</span>
	<div class="col-md-12">
		<span style="color: #000000">
			March 2022 - Present <br>
			</li>
				<em> Researcher on a European project <a href="http://www.pavis-project.eu/" style="color: #660033">(pAvIs)</a> that is about healthcare diagnostic and therapy applications. </em> <br> 
				<em> Developed an intelligent sensor system for vital sign monitoring with the collaboration of Philips Medical. </em> <br> 
				<em> Designed and implemented novel AI solutions for vital sign monitoring. </em> <br> 
				<em> ... </em> <br>
			</li>
		</span>
	</div>
	<br>	
	<span style="color: #000000">
    <strong> Postdoctoral Researcher, TU Delft, The Netherlands </strong> <br>
  	</span>
	<div class="col-md-12">
		<span style="color: #000000">
			August 2019 - March 2022 <br> 
			<em> Researcher on the <a href="https://cas.tudelft.nl/Research/project.php?id=139&pid=653" style="color: #660033">NewControl</a> project </em> <br>
			<em> Low power computing platform designs for perception workloads targeting single- and multi-sensor (Camera, Lidar, and Radar) use-cases </em> <br>
			<em> FPGA specific optimizations for deep learning accelerators </em> <br>
			<em> HW-friendly post-training quantization techniques for CNN models </em> <br>
			<em> ... </em> <br> <!--</p> -->
		</span>
	</div>
	<br>
	<div class="row">
		<span style="color: #000000">
            <strong> Research Assistant, Istanbul Technical University, Turkey </strong> <br>
		</span>						
	</div>
	<div class="col-md-12">
		<span style="color: #000000">					
			January 2015 - November 2018 <br> 
			<em> Teaching of different level undergraduate courses </em> <br>
			<em> </em> <br> <!--</p> -->
		</span>
	</div>					
	<br>
	<div class="row">
		<span style="color: #000000">					
            <strong> Research Assistant, Sabanci University, Turkey </strong> <br>
            	</span>
	</div>
	<div class="col-md-12">
		<span style="color: #000000">	
			September 2011 - September 2018 <br> 
			<em> Low power video processing and compression (H.265/HEVC and H.266/VVC) HW designs for FPGA and ASIC </em> <br>
			<em> High-level synthesis (HLS) implementations of HEVC algorithms </em> <br>
			<em> Application-specific approximate computing architecture design for video coding/processing </em> <br>
			<em> ... </em> <br>
			<em>  </em> <br> <!--</p> -->
		</span>
	</div>					
	<br>
	<br>
	<h1>
		<span style="color: #660033">
			<strong> Education </strong> 
		</span>
	</h1>	
	<div class="row">
		<span style="color: #000000">
           <strong> PhD in Electronics Engineering, Sabanci University, Turkey </strong> <br>
           	</span>
	</div>
	<div class="col-md-12">
		<span style="color: #000000">
			Fall 2013 - Spring 2018 <br> 
			<em> Thesis: Low Energy Video Processing and Compression Hardware Designs </em> <br>
			<em> Advisor: Assoc. Prof. Ilker Hamzaoglu </em> <br> <br> <!--</p> -->
		</span>
	</div>
	<br>
	<div class="row">
		<span style="color: #000000">
           <strong> M.Sc. in Electronics Engineering, Sabanci University, Turkey </strong> <br>
           	</span>						
	</div>
	<div class="col-md-12">
		<span style="color: #222">					
			Fall 2011 - Spring 2013 <br> 
			<em> Thesis: Low Energy High Efficiency Video Coding (HEVC) Hardware Designs </em> <br>
			<em> Advisor: Assoc. Prof. Ilker Hamzaoglu </em> <br> <br> <!--</p> -->
		</span>
	</div>					
	<br>
	<div class="row">
		<span style="color: #000000">					
           <strong> B.Sc. in Electronics Engineering, Istanbul Technical University, Turkey </strong> <br>
           	</span>
	</div>
	<div class="col-md-12">
		<span style="color: #000000">	
			Fall 2006 - Spring 2011 <br> 
			<em> Graduation Project: Testing Random Number Generators with The FPGA Based System </em> <br>
			<em> Supervisor: Prof. Mustak Erhan Yalcin </em> <br>  <!--</p> -->
		</span>
	</div>					
	<br>
	<br>
	<h1>
		<span style="color: #660033">
			<strong> Contact </strong> 
		</span>
	</h1>	
	<a href="https://www.tue.nl/en/research/research-groups/electronic-systems/" style="color: #000000"> Electronic Systems Group </a>
	<br>
	Department of Electrical Engineering <br>
	Eindhoven University of Technology, Flux, Groene Loper 19, 5612 AP Eindhoven, The Netherlands
	<br> 
	<br>
	Room: Flux 3.130 <br>					
	email = <img src="mail.png">						
	<br>
