<html>
	<h2>
		<span style="color: #660033">
			<strong> Journal Editor </strong> 
		</span>
	</h2>	
	<ul>
		<span style="color: #222">
		<li>Elsevier Microprocessor and Microsystems (IF : 1.53), Handling Editor</li>
		</span>
	</ul>
	<h2>
		<span style="color: #660033">
			<strong> Reviewer - Journal </strong> 
		</span>
	</h2>	
	<ul>
		<span style="color: #222">
		<li style="text-align: left">IEEE Transactions on Circuits and Systems for Video Technology (IF : 4.13)</li>
		<li style="text-align: left">IEEE Access (IF : 3.37)</li>
		<li style="text-align: left">IEEE Transactions on VLSI Systems&nbsp;(IF :&nbsp;2.03,&nbsp;)</li>
		<li>IEEE Transactions on Circuits and Systems I : Regular Papers&nbsp;(IF : 3.32)</li>
		<li>IEEE Transactions on Circuits and Systems II : Express Briefs&nbsp;(IF : 4.29)</li>
		<li>ACM Transactions on Design Automation of Electronic Systems (TODAES) (IF : 0.96)&nbsp;(IF : 0.96)</li>	
		<li>Springer Journal of Real-Time Image Processing (IF : 1.97)</li>
		<li>Springer Circuits, Systems & Signal Processing (IF : 1.68)</li>
		<li>EURASIP Journal on Advances in Signal Processing (IF : 1.41)</li>	
		<li>Elsevier Microprocessor and Microsystems (IF : 1.53)</li>
		<li>Elsevier Digital Signal Processing (IF : 2.87)</li>
		<li>Elsevier Journal of Systems Architecture (IF: 2.55)</li>
		<li>Elsevier Signal Processing: Image Communication (IF: 2.78)</li>
		<li>Elsevier Integration the VLSI Journal&nbsp;(IF :&nbsp;1.21,&nbsp;)</li>
		</span>
	</ul>
	<h2>
		<span style="color: #660033">
			<strong> Technical Program Committee </strong> 
		</span>
	</h2>	
	<ul>
		<span style="color: #222">
		<li> IEEE International Conference on Consumer Electronics (ICCE), 2022 <br> </li> 	
		<li> IEEE 9th International Conference on Consumer Electronics – Berlin (ICCE-Berlin), 2019, 2020<br> </li>	
		</span> 
	</ul>						
	<h2>
		<span style="color: #660033">
			<strong> Reviewer - Conference </strong> 
		</span>
	</h2>	
	<ul>
		<span style="color: #222">
		<li> Design, Automation &amp; Test in Europe (DATE)&nbsp;(2013, 2021) <br> </li>
		<li>IEEE Int. Symp. on Circuits and Systems (ISCAS) (2018, 2019)<br> </li>
		<li>International Conference on Field Programmable Logic and Applications (FPL)&nbsp;(2014, 2015)<br> </li>
		<li>IEEE International Conference on Consumer Electronics (ICCE)&nbsp;(2020, 2021)<br> </li>
		<li>Euromicro Conference on Digital System Design (DSD)&nbsp;(2013, 2015)<br> </li>
		<li>IEEE International Conf. on Application-Specific Systems, Architectures and Processors (ASAP)&nbsp;(2014, 2016)<br> </li>
		<li>International Conference on Design and Architectures for Signal and Image Processing (DASIP)&nbsp;(2013, 2014, 2015, 2016)<br> </li>
		<li>IEEE/IFIP International Symposium&nbsp;on VLSI System-on-Chip (VLSI-SoC)&nbsp;(2013)<br> </li>
		</span> 
	</ul>			
	<br>
	<br>
