<html>
	<h2>
		<span style="color: #660033">
			<strong> Journal Associate Editor </strong> 
		</span>
	</h2>	
	<ul>
		<span style="color: #222">
		<li>Elsevier Microprocessor and Microsystems, Handling Editor</li>
		</span>
	</ul>
	<h2>
		<span style="color: #660033">
			<strong> Reviewer - Journal </strong> 
		</span>
	</h2>	
	<ul>
		<span style="color: #222">
		<li style="text-align: left">IEEE Transactions on Circuits and Systems for Video Technology </li>
		<li style="text-align: left">IEEE Access </li>
		<li style="text-align: left">IEEE Transactions on VLSI Systems </li>
		<li>IEEE Transactions on Circuits and Systems I : Regular Papers </li>
		<li>IEEE Transactions on Circuits and Systems II : Express Briefs </li>
		<li>IEEE Transactions on Consumer Electronics </li>	
		<li>ACM Transactions on Design Automation of Electronic Systems (TODAES) </li>	
		<li>Springer Journal of Real-Time Image Processing </li>
		<li>Springer Circuits, Systems & Signal Processing </li>
		<li>EURASIP Journal on Advances in Signal Processing </li>	
		<li>Elsevier Microprocessor and Microsystems </li>
		<li>Elsevier Digital Signal Processing </li>
		<li>Elsevier Journal of Systems Architecture </li>
		<li>Elsevier Signal Processing: Image Communication </li>
		<li>Elsevier Integration the VLSI Journal </li>
		<li>... </li>	
		</span>
	</ul>
	<h2>
		<span style="color: #660033">
			<strong> Special Session Chair </strong> 
		</span>
	</h2>	
	<ul>
		<span style="color: #222">
		<li> Euromicro Conference on Digital System Design (DSD), Applications, Architectures, Methods and Tools for Machine – and Deep Learning (AAMTM) <br> </li> 	
		</span> 
	</ul>						
	<h2>
		<span style="color: #660033">
			<strong> Technical Program Committee </strong> 
		</span>
	</h2>	
	<ul>
		<span style="color: #222">
		<li> IEEE International Conference on Consumer Electronics (ICCE) (2019, 2022, 2023) <br> </li> 	
		<li> IEEE International Conference on Consumer Electronics – Berlin (ICCE-Berlin) (2019, 2020, 2022) <br> </li>
		<li> IEEE Zooming Innovation in Consumer Technology International Conference (ZINC) (2020, 2021, 2022, 2023) <br> </li>	
		</span> 
	</ul>						
	<h2>
		<span style="color: #660033">
			<strong> Reviewer - Conference </strong> 
		</span>
	</h2>	
	<ul>
		<span style="color: #222">
		<li> Design, Automation &amp; Test in Europe (DATE)&nbsp;(2013, 2021) <br> </li>
		<li>IEEE Int. Symp. on Circuits and Systems (ISCAS) (2018, 2019)<br> </li>
		<li>International Conference on Field Programmable Logic and Applications (FPL)&nbsp;(2014, 2015)<br> </li>
		<li>IEEE International Conference on Consumer Electronics (ICCE)&nbsp;(2020, 2021)<br> </li>
		<li>Euromicro Conference on Digital System Design (DSD)&nbsp;(2013, 2015)<br> </li>
		<li>IEEE International Conf. on Application-Specific Systems, Architectures and Processors (ASAP)&nbsp;(2014, 2016)<br> </li>
		<li>International Conference on Design and Architectures for Signal and Image Processing (DASIP)&nbsp;(2013, 2014, 2015, 2016)<br> </li>
		<li>IEEE/IFIP International Symposium&nbsp;on VLSI System-on-Chip (VLSI-SoC)&nbsp;(2013)<br> </li>
		</span> 
	</ul>			
	<br>
	<br>
