<html>
	<h2 style="text-align: center">
		<span style="color: #660033">
			<strong> Awards </strong> 
		</span>
	</h2>		
	<ul>
	<span style="color: #000000">
	<li>IEEE Consumer Electronics Society <a href="https://cesoc.ieee.org/awards/sall.html" style="color: #660033">Chester Sall Award</a> ublishing 3rd Best Paper in IEEE Transactions on Consumer Electronics in 2017, November 2018</li>
	</span>
	</ul>	
	<ul>
	<span style="color: #000000">
	<li>IEEE Turkey Section Best PhD Thesis Award, December 2018 (<a href="http://sites.ieee.org/turkey/2018-yili-ieee-turkiye-bilim-odulleri-sahiplerini-buldu/" style="color: #660033">Link1</a>) (<a href="https://gazetesu.sabanciuniv.edu/2019-03/mezunumuza-ieee-turkiye-doktora-tez-odulu-verildi" style="color: #660033">Link2</a>)</li>
	</span>
	</ul>						
	<ul>
	<span style="color: #000000">
	<li>Dr. Gursel Sonmez Research Award – Honorable Mention, June 2019 (<a href="https://fens.sabanciuniv.edu/en/rsel-sonmez-research-award" style="color: #660033">Link</a>)</li>
	</span>
	</ul>
	<br>
	<br>
	<br>