<html>
						<h1>
							<span style="color: #660033">
								<strong> Journals </strong> 
							</span>
						</h1>	
						<span style="color: #222">
						<p><strong>Near-Precise Parameter Approximation for Multiple Multiplications on A Single DSP Block</strong><br>
						<strong>Ercan Kalali</strong>, Rene van Leuken<br>
						IEEE Transactions on Computers, October 2021<br>
						<a href="https://ieeexplore.ieee.org/document/9566777" style="color: #660033">(PDF)</a></p>
						<p><strong>An Approximate HEVC Intra Angular Prediction Hardware</strong><br>
						<strong>Ercan Kalali</strong>, Ilker Hamzaoglu<br>
						IEEE Access, vol. 8, &nbsp;December 2019<br>
						<a href="https://ieeexplore.ieee.org/abstract/document/8943229" style="color: #660033">(PDF)</a></p>
						<p><strong>Approximate HEVC Fractional Interpolation Filters and Their Hardware Implementations</strong><br>
						<strong>Ercan Kalali</strong>, Ilker Hamzaoglu<br>
						IEEE Transactions on Consumer Electronics, vol. 64, no. 3,&nbsp;August 2018<br>
						<a href="https://ieeexplore.ieee.org/document/8450047" style="color: #660033">(PDF)</a></p>
						<p><strong>Reconfigurable Intra Prediction Hardware for Future Video Coding</strong><br>
						Hasan Azgin, Ahmet Can Mert,<strong> Ercan Kalali</strong>, Ilker Hamzaoglu<br>
						IEEE Transactions on Consumer Electronics, vol. 63, no. 4,&nbsp;November 2017<br>
						<a href="http://ieeexplore.ieee.org/document/8246799/" style="color: #660033">(PDF)</a></p>
						<p><strong>Low Complexity 2D Adaptive Image Processing Algorithm and Its Hardware Implementation</strong><br>
						<strong>Ercan Kalali</strong>, Ilker Hamzaoglu<br>
						IEEE Transactions on Consumer Electronics, vol. 63, no. 3, August 2017<br>
						<a href="http://ieeexplore.ieee.org/document/8103376/?lipi=urn:li:page:d_flagship3_profile_view_base;QFclCxyrT4mrOCup%2Ft7cqg%3D%3D" style="color: #660033">(PDF)</a></p>
						<p><strong>High Performance 2D Transform Hardware for Future Video Coding</strong><br>
						Ahmet Can Mert,<strong> Ercan Kalali</strong>, Ilker Hamzaoglu<br>
						IEEE Transactions on Consumer Electronics, vol. 63, no. 2, May 2017<br>
						<a href="http://ieeexplore.ieee.org/document/8013250/" style="color: #660033">(PDF)</a></p>
						<p><strong>A&nbsp;Computation and Energy Reduction Technique for HEVC&nbsp;Intra Prediction</strong><br>
						Hasan Azgin,<strong> Ercan Kalali</strong>, Ilker Hamzaoglu<br>
						IEEE Transactions on Consumer Electronics, vol. 63, no. 1, February 2017<br>
						<a href="http://ieeexplore.ieee.org/document/7931968/" style="color: #660033">(PDF)</a></p>
						<p><strong>A&nbsp;Computation and Energy Reduction Technique for HEVC Discrete Cosine Transform</strong><br>
						<strong>Ercan Kalali</strong>, Ahmet Can Mert, Ilker Hamzaoglu<br>
						IEEE Transactions on Consumer Electronics, vol. 62, no. 2, May&nbsp;2016<br>
						<a href="https://ieeexplore.ieee.org/document/7514716" style="color: #660033">(PDF)</a></p>
						<p><strong>A Low Energy Intra Prediction Hardware for High Efficiency Video Coding</strong><br>
						<strong>Ercan Kalali</strong>, Yusuf Adibelli, Ilker Hamzaoglu<br>
						Journal of Real-Time Image Processing, (Published Online), December 2014<br>
						<a href="http://link.springer.com/article/10.1007/s11554-014-0471-5" style="color: #660033">(PDF)</a></p>
						<p><strong>A Low Energy HEVC Inverse Transform Hardware</strong><br>
						<strong>Ercan Kalali</strong>, Erdem Ozcan, Ozgun Mert Yalcinkaya, Ilker Hamzaoglu<br>
						IEEE Transactions on Consumer Electronics, vol. 60, no. 4, November 2014<br>
						<a href="https://ieeexplore.ieee.org/abstract/document/7027352" style="color: #660033">(PDF)</a></p>
						<p><strong>A Computation and Energy Reduction Technique for HEVC Intra Mode Decision</strong><br>
						Erdem Ozcan, <strong>Ercan Kalali</strong>, Yusuf Adibelli, Ilker Hamzaoglu<br>
						IEEE Transactions on Consumer Electronics, vol. 60, no. 4, November 2014<br>
						<a href="https://ieeexplore.ieee.org/abstract/document/7027351" style="color: #660033">(PDF)</a></p>
						</span>
						<h1>
							<span style="color: #660033">
								<strong> Pre-Prints </strong> 
							</span>
						</h1>	
						<span style="color: #222">
						<p><strong>Near-Precise Parameter Approximation for Multiple Multiplications on A Single DSP Block</strong><br>
						<strong>Ercan Kalali</strong>, Rene van Leuken<br>
						arXiv preprint arXiv:2104.02162, April 2021<br>
						<a href="https://arxiv.org/abs/2104.02162" style="color: #660033">(PDF)</a></p>
						</span>	
						<h1>
							<span style="color: #660033">
								<strong> International Conferences </strong> 
							</span>
						</h1>	
						<span style="color: #222">
						<p><strong>A Power Efficient Parameter Quantization Technique for CNN Accelerators&nbsp;</strong><br>
						<strong> Ercan Kalali</strong>, Rene van Leuken<br>
						Euromicro International Conference on Digital Systems Design (DSD 2021), September 2021<br>
						<a style="color: #660033">(PDF)</a></p>
						<p><strong>An Approximate Versatile Video Coding Fractional Interpolation Hardware&nbsp;</strong><br>
						Hasan Azgin,<strong> Ercan Kalali</strong>, Ilker Hamzaoglu<br>
						IEEE International Conference on Consumer Electronics (ICCE 2020),&nbsp;January 2020, Las Vegas,&nbsp;USA<br>
						<a style="color: #660033">(PDF)</a></p>
						<p><strong>An Efficient FPGA Implementation of Versatile Video Coding Intra Prediction&nbsp;</strong><br>
						Hasan Azgin,<strong> Ercan Kalali</strong>, Ilker Hamzaoglu<br>
						Euromicro International Conference on Digital Systems Design (DSD 2019), August 2019, Kallithea, GREECE<br>
						<a href="https://ieeexplore.ieee.org/abstract/document/8875183" style="color: #660033">(PDF)</a></p>
						<p><strong>Novel Approximate Absolute Difference Hardware</strong><br>
						Ahmet Can Mert, Hasan Azgin,<strong>&nbsp;Ercan Kalali</strong>, Ilker Hamzaoglu<br>
						Euromicro International Conference on Digital Systems Design (DSD 2019), August 2019, Kallithea, GREECE<br>
						<!-- <a href="http://myweb.sabanciuniv.edu/ercankalali/files/2019/09/Absolute_SAD_Mert.pdf" style="color: #660033">(PDF)</a> --></p>
						<p><strong>A Low Power Versatile Video Coding (VVC) Fractional Interpolation Hardware</strong><br>
						Ahmet Can Mert,<strong> Ercan Kalali</strong>, Ilker Hamzaoglu<br>
						IEEE International Conference on Design and Architectures for Signal and Image Processing, (DASIP 2018), October 2018, Porto, PORTUGAL<br>
						<!-- <a href="http://myweb.sabanciuniv.edu/ercankalali/files/2018/10/Mert_DASIP_VVC.pdf" style="color: #660033">(PDF)</a> --></p>
						<p><strong>Efficient Multiple Constant Multiplication Using DSP Blocks in FPGA<br>
						</strong>Ahmet Can Mert, Hasan Azgin,<strong>&nbsp;Ercan Kalali</strong>, Ilker Hamzaoglu<br>
						IEEE 28th International Conference on Field Programmable Logic and Applications (FPL 2018), August 2018, Dublin, IRELAND<br>
						(PDF)</p>
						<p><strong>A Reconfigurable Fractional Interpolation Hardware for VVC Motion Compensation<br>
						</strong>Hasan Azgin, Ahmet Can Mert,<strong>&nbsp;Ercan Kalali</strong>, Ilker Hamzaoglu<br>
						Euromicro International Conference on Digital Systems Design (DSD 2018), August 2018, Prague, CZECH REPUBLIC<br>
						<!-- <a href="http://myweb.sabanciuniv.edu/ercankalali/files/2018/10/Azgin_DSD_VVC.pdf" style="color: #660033">(PDF)</a> --> </p>
						<p><strong>An&nbsp;Efficient FPGA Implementation of HEVC Intra Prediction<br>
						</strong>Hasan Azgin, Ahmet Can Mert,<strong>&nbsp;Ercan Kalali</strong>, Ilker Hamzaoglu<br>
						IEEE International Conference on Consumer Electronics, (ICCE 2018),&nbsp;January 2018, Las Vegas,&nbsp;USA<br>
						<!-- <a href="http://myweb.sabanciuniv.edu/ercankalali/files/2018/01/ICCE_Intra.pdf" style="color: #660033">(PDF)</a> --></p>
						<p><strong>An&nbsp;HEVC Fractional Interpolation Hardware Using Memory Based Constant Multiplication<br>
						</strong>Ahmet Can Mert,<strong>&nbsp;Ercan Kalali</strong>, Ilker Hamzaoglu<br>
						IEEE International Conference on Consumer Electronics, (ICCE 2018),&nbsp;January 2018, Las Vegas,&nbsp;USA<br>
						<!-- <a href="http://myweb.sabanciuniv.edu/ercankalali/files/2018/01/ICCE_FI.pdf" style="color: #660033">(PDF)</a> --></p>
						<p><strong>An FPGA Implementation of Future Video Coding 2D Transform<br>
						</strong>Ahmet Can Mert,<strong> Ercan Kalali</strong>, Ilker Hamzaoglu<br>
						IEEE International Conference on Consumer Electronics – Berlin, (ICCE-Berlin 2017), September 2017,&nbsp;Berlin, GERMANY<br>
						<!-- <a href="http://myweb.sabanciuniv.edu/ercankalali/files/2017/12/1570377533.pdf" style="color: #660033">(PDF)</a> --> </p>
						<p><strong>Pixel Correlation Based Computation and Energy Reduction Techniques for HEVC Fractional Interpolation</strong><br>
						<strong>Ercan Kalali</strong>, Ahmet Can Mert, Ilker Hamzaoglu<br>
						IEEE International Conference on Consumer Electronics – Berlin, (ICCE-Berlin 2017), September 2017,&nbsp;Berlin, GERMANY<br>
						<!-- <a href="http://myweb.sabanciuniv.edu/ercankalali/files/2017/12/1570361559.pdf" style="color: #660033">(PDF)</a> --> </p>
						<p><strong>FPGA Implementation of HEVC Intra Prediction&nbsp;Using High-Level Synthesis<br>
						</strong><strong>Ercan Kalali</strong>, Ilker Hamzaoglu<br>
						IEEE International Conference on Consumer Electronics – Berlin, (ICCE-Berlin 2016), September 2016,&nbsp;Berlin, GERMANY<br>
						<!-- <a href="http://myweb.sabanciuniv.edu/ercankalali/files/2016/09/HEVC_HLS_Intra_ICCEBerlin_2016.pdf" style="color: #660033">(PDF)</a> --> </p>
						<p><strong>Low Complexity HEVC Sub-Pixel Motion Estimation Technique and Its Hardware Implementation<br>
						</strong>Ahmet Can Mert,<strong> Ercan Kalali</strong>, Ilker Hamzaoglu<br>
						IEEE International Conference on Consumer Electronics – Berlin, (ICCE-Berlin 2016), September 2016,&nbsp;Berlin, GERMANY<br>
						<!-- <a href="http://myweb.sabanciuniv.edu/ercankalali/files/2016/09/HEVC_FME_ICCEBerlin_2016.pdf" style="color: #660033">(PDF)</a> --> </p>
						<p><strong>FPGA Implementations of HEVC Sub-Pixel Interpolation Using High-Level Synthesis</strong><br>
						Firas Abdul Ghani, <strong>Ercan Kalali</strong>, Ilker Hamzaoglu<br>
						11th International Conference on Design &amp; Technology of Integrated Systems in Nanoscale Era (DTIS 2016), April 2016, Istanbul, TURKEY<br>
						<!-- <a href="http://people.sabanciuniv.edu/~hamzaoglu/papers/dtis2016_hls.pdf" style="color: #660033">(PDF)</a> --></p>
						<p><strong>FPGA Implementations of HEVC Inverse DCT Using High-Level Synthesis</strong><br>
						<strong>Ercan Kalali</strong>, Ilker Hamzaoglu<br>
						IEEE International Conference on Design and Architectures for Signal and Image Processing, (DASIP 2015), September 2015, Cracow, POLAND.<br>
						<!-- <a href="http://people.sabanciuniv.edu/~hamzaoglu/papers/hls_hevc_idct_dasip2015.pdf" style="color: #660033">(PDF)</a> --></p>
						<p><strong>A Low Energy 2D Adaptive Median Filter Hardware<br>
						Ercan Kalali</strong>, Ilker Hamzaoglu<br>
						18th Design Automation and Test in Europe Conference (DATE 2015), March 2015, Grenoble, FRANCE<br>
						<!-- <a href="http://myweb.sabanciuniv.edu/ercankalali/files/2015/04/DATE_Kalali.pdf" style="color: #660033">(PDF)</a> --></p>
						<p><strong>A Low Energy HEVC Sub-Pixel Interpolation Hardware<br>
						Ercan Kalali</strong>, Ilker Hamzaoglu<br>
						IEEE International Conference on Image Processing, (ICIP 2014), October 2014, Paris, FRANCE<br>
						<!-- <a href="http://myweb.sabanciuniv.edu/ercankalali/files/2014/11/hevc_me_icip2014.pdf" style="color: #660033">(PDF)</a> --></p>
						<p><strong>A Reconfigurable HEVC Sub-Pixel Interpolation Hardware<br>
						Ercan Kalali</strong>, Yusuf Adibelli, Ilker Hamzaoglu<br>
						IEEE International Conference on Consumer Electronics – Berlin, (ICCE-Berlin 2013), September 2013,&nbsp;Berlin, GERMANY<br>
						<!-- <a href="http://people.sabanciuniv.edu/~hamzaoglu/papers/hevc_me_icceb2013.pdf" style="color: #660033">(PDF)</a> --></p>
						<p><strong>A Low Energy HEVC Inverse DCT Hardware<br>
						Ercan Kalali</strong>, Erdem Ozcan, Ozgun Mert Yalcinkaya, Ilker Hamzaoglu<br>
						IEEE International Conference on Consumer Electronics – Berlin, (ICCE-Berlin 2013), &nbsp;September 2013, Berlin, GERMANY<br>
						<!-- <a href="http://people.sabanciuniv.edu/~hamzaoglu/papers/hevc_idct_icceb2013.pdf" style="color: #660033">(PDF)</a> --></p>
						<p><strong>A High Performance and Low Energy Intra Prediction Hardware for High Efficiency Video Coding<br>
						Ercan Kalali</strong>, Yusuf Adibelli, Ilker Hamzaoglu<br>
						IEEE&nbsp;22<sup>nd</sup>&nbsp;International Conference on Field Programmable Logic and Applications (FPL 2012), August 2012, Oslo, NORWAY<br>
						<!-- <a href="http://people.sabanciuniv.edu/~hamzaoglu/papers/hevc_intra_fpl2012.pdf" style="color: #660033">(PDF)&nbsp;</a> --></p>
						<p><strong>A High Performance and Low Energy Intra Prediction Hardware for HEVC Video Decoding<br>
						Ercan Kalali</strong>, Yusuf Adibelli, Ilker Hamzaoglu<br>
						IEEE International Conference on Design and Architectures for Signal and Image Processing, (DASIP 2012), October 2012, Karlsruhe, GERMANY<br>
						<!-- <a href="http://people.sabanciuniv.edu/~hamzaoglu/papers/hevc_intra_dasip2012.pdf" style="color: #660033"> (PDF)</a> --></p>		
						</span>
					<br>
					<br>
					<br>
					<br>
			
