<html>
	<h1>
		<span style="color: #660033">
		<strong> Teaching (Teaching Assistant) </strong> 
		</span>
	</h1>		
	<h3>
		<span style="color: #222">
			<strong> Istanbul Technical University </strong> 
		</span>
	</h3>	
	<ul>
		<span style="color: #222">
		<li>EHB 425 </span>– VLSI Circuit Design II (Spring 2015, Spring 2016, Spring 2017, Spring 2018)</li>						
		<li>EHB 436 </span>– Digital System Design Applications (Fall 2017)</li>						
		<li>EHB 412 </span>– Digital Systems Lab. (Spring 2017)</li>						
		<li>EHB 322 </span>– Digital Electronic Circuits (Spring 2015, Spring 2016)</li>						
		<li>EHB 232 </span>– Circuits and System Analysis (Spring 2017, Spring 2018)</li>		
		<li>EHB 211 </span>– Basics of Electrical Circuits (Fall 2015, Fall 2016, Fall 2017)</li>		
		<li>EHB 222 </span>– Introduction to Electronics (Fall 2016)</li>		
		<li>BLG 212 </span>– Microprocessor Systems (Fall 2016)</li>	
		</span>
	</ul>
	<h3>
		<span style="color: #222">
			<strong> Sabanci University </strong> 
		</span>
	</h3>	
	<ul>
		<span style="color: #222">
		<li>EE 401 </span>– VLSI System Design I (Fall 2014)</li>						
		<li>EE 310 </span>– Hardware Description Languages (Spring 2012, Spring 2013, Spring 2014, Spring 2015)</li>					
		<li>MATH 203 </span>– Introduction to Probability (Fall 2011, Fall 2012, Fall 2013)</li>	
		</span>
	</ul>
	<br>
	<br>
	<br>
